
  <div class="col-md-3">
    <div class="thumbnail">
      <%= link_to book_path(book) do %>
        <% if book.picture.attached? %>
          <%= image_tag book.picture, class: "img-responsive" %>
        <% end %>
      <% end %>
      <div class="caption">
        <p><strong><%= link_to book.name, book_path(book) %></strong></p>
        <p><%= book.price.to_f/100 %>€</p>
      </div>
    </div>
  </div>
